<div id="background_image"></div>
	<nav id= "navdesktop">
		<ul> 
			<li> 
				<a href="#home">
					home
				</a>
			</li>
			<li> 
				<a href="#neurofeedback">
					neurofeedback
				</a>
			</li>
			<li> 
				<a href="#about_us">
					about us
				</a>
			</li>
			<li>
				<a href="#testimonials">
					testimonials
				</a>
			</li>
			<li>
				<a href="#contact">
					contact
				</a>
			</li>
		</ul>
	</nav>
	<nav id= "navipad">
		<%= image_tag 'navicon.png', id: "navicon" %>
		<ul> 
			<li> 
				<a href="#home">
					home
				</a>
			</li>
			<li> 
				<a href="#neurofeedback">
					neurofeedback
				</a>
			</li>
			<li> 
				<a href="#about_us">
					about us
				</a>
			</li>
			<li>
				<a href="#testimonials">
					testimonials
				</a>
			</li>
			<li>
				<a href="#contact">
					contact
				</a>
			</li>
		</ul>
	</nav>
	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
	<section id= "logo_holder">
		<div style= "background-color: #2c6069; width:35%; height: 200px; margin: auto">
		</div>
	</section>
	<div id="content">
		<section id="home">
		<h1>Home</h1>
		
		<%= image_tag "brain_1.jpg", class: "introimage" %>
		
<p>BrainWorks Neurofeedback is the only Neurofeedback practice in Las Cruces. </p>

<p>At BrainWorks Neurofeedback, we are focused on providing high-quality, evidence based services to clients who would like to improve attention, mood, skills and sleep as well as reduce stress, control hyperactive behaviors, or optimize physical and mental performance. </p>
<p> Brainworks Neurofeedback offers a welcoming and comfortable office setting. Consultations are free. You can call, email or set up an appointment to discuss Neurofeedback treatment for your symptoms and desired goals. </p>
<br>
<div id="expectations"> What To Expect: 
	<ol> 
		<li> We will first schedule a private consultation to assess, test, chart, agree and outline your individualized training protocol. </li>
		<li> We will follow with a set of regularly scheduled appointments. 
		The best results occur when there has been sufficient training sessions to maintain long term effects (see Journal of Pediatrics study, February 17, 2014). Sessions are scheduled for two to three times a week and are completed within an hour. The average time to complete training is two to three months.</li>
		<li> Finally, we will reassess, test, chart, discuss and evaluate results. Results are both qualitative and quantitative. Comparing the test results from the end of your training with the initial testing will allow for a quantitiative analysis of progress. </li>
	</ol>

<p>BrainWorks Neurofeedback can also help put you in touch with experienced health associates for Egoscue pain relief exercises, massage therapy, yoga, or psychological counseling for additional personal development in reaching your optimal mental skills and health.</p>
		</section>
<br><br>
	
		<section id="neurofeedback">
	<h3> 1.	What is Neurofeedback? </h3>

<p> Neurofeedback is a non-invasive, non-medicated and long term treatment for ADHD, PTSD, sleep, self regulation and more. </p>
 
<p>Links to primary articles showing the effectiveness of Neurofeedback in treating pain, addiction, autism, depression, schizophrenia, epilepsy, headaches, insomnia, Tourette syndrome and brain damage from strokes or trauma can be found 
		<a href="http://www.isnr.net/resources/comprehensive-bibliography.cfm"> <span id="link">here </span>
		</a> 
</p>
	<blockquote>"In my opinion, if any medication had demonstrated such a wide spectrum of efficacy [as neurofeedback], it would be universally accepted and widely used" 
	<br>
		<span> - Frank Duffy (Harvard neurologist) 
 	Clinical EEG and Neuroscience, January 2000. </span> 
 	</blockquote>
<br>
	
	<h3> 2.	How is Neurofeedback done?</h3>
<p>Brainwave activity is measured with an electro-encephalograph (EEG). The EEG equipment is connected to the individual with sensors that are attached on the scalp and ears. The sensors are safe, do not prick the skin and are painless. There is no application of any voltage or current to the brain. It’s entirely non-invasive. Clients are taught to play movies or computerized games using their brainwave activity. Changes in client brainwave activity are fed back to the individual through visual and/or auditory, sensory information by the computer.  </p>

<p>For more information on how training is performed: https://www.youtube.com/watch?v=t6XeCwFQrCA </p>

<p>Testimonial from professional athlete, Corey Liuget, from the San Diego Chargers: https://www.youtube.com/watch?v=NCeL9KFgTd8 </p>
<br>

	<h3> 3.	Are there any side effects?</h3>
 	</section>
	<br><br>
	
	<section id="about_us">
		<h1>About us</h1>

<%= image_tag "BJohnston.jpg", class: "biopic" %>

<p> BrainWorks is directed by Brandi Lozada-Johnston BCN, Neurofeedback Board Certified - BCIA.org,   Psychology, BA & Dance Educator (State of NM Licensed Teacher pre K-12 Performing Arts Teaching and Physical Eduction). </p>

<p>As a Board Certified Neurofeedback Coach with five years’ experience providing neurofeedback services to address emotional, learning, performance skills and stress-related concerns, I am confident of my ability to make a meaningful and positive impact on the lives of my clients, 
With an extensive background and education in dance and performing arts, I have seen first-hand how the mind and body can train together to enhance health while increasing confidence and aiding self-realization. This experience compelled me to pursue the burgeoning field of neurofeedback, which has been proven to greatly improve brain function and treat a wide range of issues, including brain dysregulations, sleep disturbances, and learning disorders in addition to serving as an affordable way to optimize cognitive functioning (concentration, flexibility, & memory) and upgrade athletic performance. I offer proven expertise assessing client needs and goals, developing and administering neurofeedback training plans, documenting and analyzing progress, and adjusting neurofeedback protocols to improve training effectiveness. I would be pleased to continue my record of success as your next Neurofeedback Coach.</p>

     </section>
     <br><br>

	<section id="testimonials">
		<h1>testimonials</h1>
		Ms. Johnston helped our 6 year-old son regulate his emotions by focusing his attention and relaxing his body. He learned how to lower his anxiety (i.e., went to school without melting down) and learned how to redirect his anger (i.e., telling us he was angry versus immediately acting out). I think we're continuing to learn how to be less reactive as a family, verbalize what our needs are, breathe and relax. In addition, Ms. Johnston is an experienced teacher so she wasn't intimidated by our son's intensity (and charm-optional). I highly recommend Ms. Johnston & BrainWorks
Neurofeedback! 
Mother of 3 
Licensed Psychologist 
	</section>
	<br><br>
	<section id="contact">
		<h1>contact</h1>
		With the variety of offerings available, we're sure you'll be happy working with us. 
We welcome all questions or comments,       
Please feel free to contact us.     
(575) 680-2220 / 405-4142 brain_work@icloud.com
<div id="contact_container">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, url: create_email_welcome_index_url, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div id="map_container">
	<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRz5w6UE93oYRtpRVuE6N97g&key=AIzaSyDkRiZjHS5lRkUJdCo-VcCpUZLtIXV-IqM" allowfullscreen></iframe>
</div>

<div style="clear: both;"></div>

	</section>

	</div>
